#pi-tabs { 
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}
#pi-tabs ul { 
/*
        border-bottom: 1px solid #696969;
*/
	margin-bottom: 0;
	padding-bottom: 0;
}
#pi-tabs ul li { 
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 1em;
	text-indent: 0;
}
.views-tabs {
/*
**
**        position:absolute;
**        margin-left: -20em;
*/        margin-top: 10em;
}
/*
** Floating header for divheader.js
*/
div.sticky-header {
  margin-top: 0;
  background: #fff;
}
#frag-0,#frag-1,#frag-2,#frag-3,#frag-4 { 
    overflow:scroll ;
    width:750px;
    height:400px;
}
