#pi-tabs { 
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}
#pi-tabs ul { 
/*
        border-bottom: 1px solid #696969;
*/
	margin-bottom: 0;
	padding-bottom: 0;
}
#pi-tabs ul li { 
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 1em;
	text-indent: 0;
}
.views-tabs {
/*
**
**        position:absolute;
**        margin-left: -20em;
*/        margin-top: 10em;
}
/*
** Floating header for divheader.js
*/
div.sticky-header {
  margin-top: 0;
  background: #fff;
}

#renewform {}

#renewform #frag-0,
#renewform  #frag-1, 
#renewform #frag-2, 
#renewform #frag-3, 
#renewform #frag-4 {height:auto; border:5px solid #bbb; width:740px;}

#pi-tabs ul.ui-tabs-nav li {list-style:none;background:#ccc;}

#pi-tabs ul.ui-tabs-nav a {border:none; background:none; display:block; padding:1px 4px;} 

#pi-tabs ul.ui-tabs-nav a:hover,
#pi-tabs ul.ui-tabs-nav a span:hover {border-bottom:none; background:#bbb; background-image:none;}

#pi-tabs tr.even {background:transparent;}